.movieDetails {
  padding: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

.nav {
  margin: 20px 0;
}

.link {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}

.link:hover {
  text-decoration: underline;
}


.posterContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.poster {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
